[Unit]
Description=Run the powersaving checks every x minutes

[Timer]
OnBootSec=60
OnUnitActiveSec=1m
Unit=powersave.service
Persistent=true

[Install]
WantedBy=multi-user.target
